
 {% extends "StoreOnlineApp/base.html" %}
   {% load static %}
   {% block content %}
          <div class="pusher" >

            <div class=" ui inverted vertical   dos ui masthead center aligned " style="color: white;margin:0px;height: 720 ;width: 100%;;padding-top: 165px">
          
          
              <div class="ui text container  center aligned " >
                <img class=" "  data-aos="flip-up" src="{% static 'StoreOnlineApp/img/ICONO.png' %}" style="width: 220px;height: 100px;" alt="">
                <h2 style="margin-top:50px;">Con más de 25 años de experiencia a nuestras espaldas, desde Helados Gelidos tenemos los conocimientos y herramientas necesarios para llevar el mejor Helado Artesanal con profesionalidad.</h2>
              
              </div>
            
            </div>
            
            <div class="  ui  vertical  grid sixteen wide uno center aligned stripe segment  " data-aos-delay="200" data-aos="fade-right" style="margin:0 !important;height: 720;width: 100%; padding-top: 165px">
            
            
            
              
                <div data-aos-delay="700" data-aos="flip-up" class="ui cards six wide right floated column">
                  <a class="blue card " style="width: 50%;height: 30%;">
                  <img class=" " src="{% static 'StoreOnlineApp/img/bg-3.jpg' %}" alt="">
                  </a>
                </div>
            
            
            
            
              <div data-aos-delay="400" data-aos="zoom-in-up" class="eight wide column">
              <h3 class="ui header">We Help Companies and Companions</h3>
              <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
              <h3 class="ui header">We Make Bananas That Can Dance</h3>
              <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
                
              </div>
              <div  data-aos-delay="500" data-aos="fade-left" class=" ui inverted vertical    grid sixteen wide tres center aligned " style="color: white;margin:0px;height: 740;width: 100%; padding-top: 165px ; padding-bottom: 50px;">
                <h2 class="ui text container  center aligned" style="font-size: 30px;">
                  <span class="">Puntualidad</span>
                </h2>
               
                <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
                </p>
                <div class="ui link cards">
                  <div data-aos-delay="1000"  data-aos="fade-up" class="card">
                    <div class="image">
                      <img class=" " src="{% static 'StoreOnlineApp/img/bg-4.jpg' %}" alt="">
                    </div>
                    <div class="content">
                      <div class="header">Matt Giampietro</div>
                      <div class="meta">
            
                        <a>Friends</a>
                      </div>
                      <div class="description">
                        Matthew is an interior designer living in New York.
                      </div>
                    </div>
            
                  </div>
                  <div data-aos-delay="1200" data-aos="fade-up" class="card">
                    <div class="image">
                      <img class=" " src="{% static 'StoreOnlineApp/img/bg-1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                      <div class="header">Molly</div>
                      <div class="meta">
                        <span class="date">Coworker</span>
                      </div>
                      <div class="description">
                        Molly is a personal assistant living in Paris.
                      </div>
                    </div>
            
                  </div>
                  <div data-aos-delay="1400" data-aos="fade-up" class="card">
                    <div class="image">
                      <img class=" " src="{% static 'StoreOnlineApp/img/bg-2.jpg' %}" alt="">
                    </div>
                    <div class="content">
                      <div class="header">Elyse</div>
                      <div class="meta">
                        <a>Coworker</a>
                      </div>
                      <div class="description">
                        Elyse is a copywriter working in New York.
                      </div>
                    </div>
            
                  </div>
                </div>
              </div>
            </div>
            </div>
              
            {% endblock %}
            
            
            
            
            
              
  